<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getInit($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="arrastra para actualizar"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-label>Filtrar Por</ion-label>
    <ion-select value="0" okText="Seleccionar" cancelText="Cancelar" (ionChange)="addFilter($event)">
      <ion-select-option value="0">Todos</ion-select-option>
      <ion-select-option *ngFor="let items of marks" [value]="item.idMarca">{{item.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of list">
      <ion-label>{{item.nombreModelo}}</ion-label>
      <ion-label>{{item.nombreMarca}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>


<div class="width-100 center">
  <button class="btnLogin color-blank text-bold box-shadow" (click)="logOut()">Cerrar Sesion</button>
 </div>