ion-content{
    --background : transparent !important;
  }

  *:focus{
    outline: none;
  }

.main-view {
    background: transparent !important;
}

h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

.overlay {
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: -2.5;
      background: rgba(0, 0, 0, 0.3);
  }

  ion-datetime {
    border-bottom: 1px solid #80f;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #522f71;
    width: 100%;
    height: 27px;
  }

  .modal_content {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 20% 0 0% 5%;
    width: 90%;
    height: 700px;
    z-index: 1;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .backgroundColor{
    background: white;
  }

  .h1Title{
    padding: 2% 0 0 7%;
  }

  .spanAccount{
    font-size: 8vw;
  }

  .btnLogin{
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #8800FF;
    font-size: 5vw;
    transition: all .2s;
}

.btnLogin:focus{
    background-color: #a43bff;
}

.btnLogin:disabled{
  background-color: rgb(58, 57, 57);
}

.grid{
  margin: 15px 35px;
}

.input{
  border-bottom: 1px solid #80f;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #522f71;

}

.form{
  margin-top: 10%;
}

.h4Labels{
  margin-bottom: 8px;
}

.h4LabelMessage{
  margin-bottom: 8px;
  margin-top: 10px;
}